<footer class="footer">

    <a href="/donar" class="footer__link">
        <img src="img/nav-donate.png" class="footer__link__icon">
        <p class="footer__link__text">Donar</p>
    </a>
    
    <a href="/logros" class="footer__link">
        <img src="img/nav-rewards.png" class="footer__link__icon">
        <p class="footer__link__text">Logros</p>
    </a>
    
    <a class="footer__link">
        <img src="img/nav-campaings.png" class="footer__link__icon">
        <p class="footer__link__text">Campañas</p>
    </a>
    
    <a class="footer__link">
        <img src="img/nav-points.png" class="footer__link__icon">
        <p class="footer__link__text">Puntos</p>
    </a>
    
    <a class="footer__link">
        <img src="img/nav-profile.png" class="footer__link__icon">
        <p class="footer__link__text">Puntos</p>
    </a>

</footer>

</body>
</html>