<% include ./partials/header %>

    


<h1 class="primary-header primary-header--max-width-400">Logros</h1>

<div class="wrapper">
            <img class="image" src="img/achievements.png">
</div>

<div class="section-row section-row--margin-top section-row--text-center">
    <div class="section-row__column">
        <p class="secondary-header secondary-header--text-left secondary-header--size-large secondary-header--inline-block secondary-header--red">25</p>
        <p class="secondary-header secondary-header--text-left secondary-header--max-width secondary-header--size-medium secondary-header--inline-block">Vidas salvadas</p>
    </div>
</div>

    <div class="wrapper">
        <h2 class="secondary-header">Medallas</h2>
    </div>

    <div class="container">
            <div class="row">
                    <div class="col-lg-4 col-xs-4">
                        <img class="image image--margin-bottom" src="img/achievement-1.png">
                    </div>
                    
                    <div class="col-lg-4 col-xs-4">
                        <img class="image image--margin-bottom" src="img/achievement-2.png">
                    </div>
                    
                    <div class="col-lg-4 col-xs-4">
                        <img class="image image--margin-bottom" src="img/achievement-3.png">
                    </div>
                    
                    <div class="col-lg-4 col-xs-4">
                        <img class="image image--margin-bottom" src="img/achievement-4.png">
                    </div>
                    
                    <div class="col-lg-4 col-xs-4">
                        <img class="image image--margin-bottom" src="img/achievement-5.png">
                    </div>
                    
                    <div class="col-lg-4 col-xs-4">
                        <img class="image image--margin-bottom" src="img/achievement-6.png">
                    </div>
            </div>
    </div>


<% include ./partials/footer %>