<% include ./partials/header %>

<div class="window-container">

    <h1 class="primary-header primary-header--max-width-400">Campañas</h1>

    <div class="wrapper">
        <div class="campaign-container">
            <img class="image image--width-80" src="img/red-cross.png">
            <p class="generic-text generic-text--top-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at laoreet orci. Integer in tincidunt enim. Vivamus vulputate diam et lacus aliquam, non commodo diam feugiat.</p>

            <img class="image" src="img/bar.png">
            <p class="generic-text generic-text--dark generic-text--size-large generic-text--bold">Participar <img class="image image--width-10 image--inline-block image--margin-left" src="img/arrow-link-2.png"></p>
        </div>
    </div>

</div>

<% include ./partials/footer %>