<% include ./partials/header %>


    <div class="wrapper">

        <h1 class="primary-header primary-header--max-width-400">¿Qué quieres donar?</h1>

        <div class="donation-list">
            <div class="donation-list__item">
                <div class="donation-list__item__content">
                        <img class="donation-list__item__content__icon" src="img/blood-icon.png">
                        <h2 class="secondary-header secondary-header--inline-block secondary-header--v-align-center secondary-header--no-v-margin">Sangre</h2>
                </div>
                <a class="donation-list__item__link">
                    <img src="img/arrow-link.png">
                </a>
            </div>
            
            <div class="donation-list__item">
                <div class="donation-list__item__content">
                        <img class="donation-list__item__content__icon" src="img/plasma-icon.png">
                        <h2 class="secondary-header secondary-header--inline-block secondary-header--v-align-center secondary-header--no-v-margin">Plasma</h2>
                </div>
                <a class="donation-list__item__link">
                    <img src="img/arrow-link.png">
                </a>
            </div>
            
            <div class="donation-list__item">
                <div class="donation-list__item__content">
                        <img class="donation-list__item__content__icon" src="img/platelets-icon.png">
                        <h2 class="secondary-header secondary-header--inline-block secondary-header--v-align-center secondary-header--no-v-margin">Plaquetas</h2>
                </div>
                <a class="donation-list__item__link">
                    <img src="img/arrow-link.png">
                </a>
            </div>
        </div>

    </div>



<% include ./partials/footer %>