<% include ./partials/header %>

<h1 class="primary-header">Puntos</h1>

<div class="wrapper">
    <div class="section-row">
        <div class="section-row__column section-row__column--50 section-row__column--v-align-top">
            <img class="image" src="img/points.png">
        </div>
        <div class="section-row__column section-row__column--left-padding section-row__column--50 section-row__column--v-align-top">
            <p class="fredoka-text fredoka-text--size-larger fredoka-text--no-b-margin fredoka-text--margin-top fredoka-text--yellow">75</p>
            <p class="generic-text generic-text--size-larger generic-text--bold generic-text--yellow generic-text--no-margin">Puntos</p>
        </div>
    </div>

    <h2 class="secondary-header secondary-header--b-margin">Puedes canjearlos en</h2>
    <div class="points-container points-container--hospital-background">
        <div class="points-container__text">
            <h2 class="secondary-header secondary-header--white secondary-header--bold secondary-header--no-v-margin">Exámenes</h2>
            <p class="generic-text generic-text--bold generic-text--size-medium generic-text--white">en Clínica del Rosario</p>
        </div>
        <div class="points-container__point-div">
            <p class="fredoka-text fredoka-text--text-center fredoka-text--yellow fredoka-text--size-larger fredoka-text--line-height-150">5</p>
        </div>
    </div>
    
    <div class="points-container points-container--lab-background">
        <div class="points-container__text">
            <h2 class="secondary-header secondary-header--white secondary-header--bold secondary-header--no-v-margin">Transfución</h2>
            <p class="generic-text generic-text--bold generic-text--size-medium generic-text--white">en Banco de Sangre</p>
        </div>
        <div class="points-container__point-div">
            <p class="fredoka-text fredoka-text--text-center fredoka-text--yellow fredoka-text--size-larger fredoka-text--line-height-150">15</p>
        </div>
    </div>
</div>

<% include ./partials/footer %>