<% include ./partials/header %>

<div class="profile-img">
    <p class="profile-img__text generic-text generic-text--size-larger generic-text--bold">MA</p>
</div>

<div class="wrapper">
    <h1 class="secondary-header secondary-header--text-center">María Antonía</h1>
    <p class="generic-text generic-text--b-margin generic-text--regular generic-text--size-medium generic-text--text-center">Octubre 21, 1992</p>

    <div class="profile-info">
        <p class="generic-text generic-text--red generic-text--bold generic-text--size-medium">Género</p>
        <p class="generic-text generic-text--size-medium">Femenino</p>
    </div>
    
    <div class="profile-info">
        <p class="generic-text generic-text--red generic-text--bold generic-text--size-medium">Tipo Sanguíneo</p>
        <p class="generic-text generic-text--size-medium">O+</p>
    </div>
    
    <div class="profile-info">
        <p class="generic-text generic-text--red generic-text--bold generic-text--size-medium">Estatura</p>
        <p class="generic-text generic-text--size-medium">1.62 m</p>
    </div>

    <h1 class="secondary-header secondary-header--text-center secondary-header--red secondary-header--max-width-200 secondary-header--text-left secondary-header--line-height-1-2 ">Información de contacto</h1>

    <div class="profile-info">
        <p class="generic-text generic-text--red generic-text--bold generic-text--size-medium">Correo</p>
        <p class="generic-text generic-text--size-medium">maria@outlook.com</p>
    </div>
    
    <div class="profile-info">
        <p class="generic-text generic-text--red generic-text--bold generic-text--size-medium">Contacto de emergencia</p>
        <p class="generic-text generic-text--size-medium">+ 57 (310) 455-456</p>
    </div>
</div>


<% include ./partials/footer %>