.image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &--margin-bottom {
        margin-bottom: 20px;
    }

    &--width-80 {
        width: 80%;
    }

    &--width-10 {
        width: 10px;
    }

    &--inline-block {
        display: inline-block;
    }

    &--margin-left {
        margin-left: 10px;
    }
}